.mainContainer {
	display: flex;
	flex-direction: column;
	background-color: black;
	min-height: 100%;
	max-height: 100%;
	* {
		color: #eae2e2;
		z-index: 2;
	}
	overflow: hidden;
}

.menuArea {
	align-self: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	margin-top: auto;
	order: 2;
	max-width: min-content;
	padding: 5px;
	justify-content: space-evenly;
	align-items: flex-end;
	height: 185px;
	overflow: hidden;
	button {
		height: 75px;
		width: 75px;
		margin-left: 20px;
		margin-right: 20px;
		background-repeat: no-repeat;
		display: block;
		background-color: transparent;
		border: none;
		outline: none;
		border-radius: 50%;
		background-position: center;
		padding: 5px;
		&:hover {
			cursor: pointer;
		}
		img {
			height: 100%;
			width: 100%;
		}
	}
	.draw {
		height: 115px;
		margin-bottom: 15px;
		touch-action: manipulation;
		img {
			filter: drop-shadow(0px 3px 1px #ffde4e);
		}
		&:hover {
			img {
				filter: drop-shadow(0px 3px 1px #ffde4e)
					drop-shadow(0px 8px 4px #bda438);
			}
		}
		position: absolute;
		z-index: 1993;
		top: 50px;
		left: 55px;
	}
	.alpha {
		margin-right: 10px;
	}
	.clearButton {
		margin-left: 10px;
	}
}
.contentArea {
	flex-grow: 1;
	margin: 15px 0px;
	padding: 20px 5px;
	width: 900px;
	max-width: 100vw;
	align-self: center;
	overflow: auto;
	margin-bottom: 0px;
}

.cardArea {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.drawnCard {
	width: 250px;
	margin: 15px;
	text-align: center;
	@media screen and (max-width: 832px) {
		width: 150px;
	}
}

@function multiple-box-shadow($n) {
	$value: '#{random(2000)}px #{random(2000)}px hsla(60, 100%, 95%, 0.7)';
	@for $i from 2 through $n {
		$value: '#{$value} , #{random(2000)}px #{random(2000)}px hsla(60, 100%, 95%, 0.7)';
	}
	@return unquote($value);
}

$shadows-small: multiple-box-shadow(900);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);
.starContainer {
	position: fixed;
	z-index: 1;
}
.stars {
	will-change: transform;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: $shadows-small;
	animation: animStar 150s linear infinite;
	position: absolute;

	&::after {
		will-change: transform;
		content: ' ';
		position: absolute;
		top: 2000px;
		width: 1px;
		height: 1px;
		background: transparent;
		box-shadow: $shadows-small;
	}
}

.stars2 {
	will-change: transform;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: $shadows-medium;
	animation: animStar 100s linear infinite;
	position: absolute;

	&::after {
		will-change: transform;
		content: ' ';
		position: absolute;
		top: 2000px;
		width: 2px;
		height: 2px;
		background: transparent;
		box-shadow: $shadows-medium;
	}
}

.stars3 {
	will-change: transform;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: $shadows-big;
	animation: animStar 50s linear infinite;
	position: absolute;

	&::after {
		will-change: transform;
		content: ' ';
		position: absolute;
		top: 2000px;
		width: 3px;
		height: 3px;
		background: transparent;
		box-shadow: $shadows-big;
	}
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}

.newBar {
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.disableAnimation {
	*,
	:before,
	:after {
		animation: none !important;
	}
	.clr:before {
		transform: rotate(130deg);
	}
	.clr {
		transform: rotate(80deg);
	}
}

.mainContainer {
	@media (prefers-reduced-motion) {
		* {
			animation: none;
		}
	}
}

.content {
	width: 200px;
	margin: 0 auto;
	height: 200px;
	position: relative;
	top: 25px;
}
.frame {
	filter: blur(2px);
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0px;
	border: 3px solid transparent;
	border-top-color: #00a385;
	border-radius: 50%;
	z-index: 1500;
	animation: spinning 5s linear infinite;
	float: left;
}
.clr {
	display: block;
	position: relative;
	left: 22px;
	top: 20px;
	width: 150px;
	height: 150px;
	margin: 0px;
	border: 3px solid transparent;
	border-top-color: #3498db;
	z-index: 1500;
	border-radius: 50%;
	animation: spinning 5s linear infinite;
}
.clr:before {
	content: '';
	position: absolute;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	border-radius: 50%;
	animation: spinning 5s linear infinite;
}
// .clr:after {
// 	content: '';
// 	position: absolute;
// 	top: 10px;
// 	left: 10px;
// 	right: 10px;
// 	bottom: 10px;
// 	border: 3px solid transparent;
// 	border-top-color: deeppink;
// 	border-radius: 50%;
// 	animation: spinning 5s linear infinite;
// }
@keyframes spinning {
	0% {
		transform: rotate(720deg);
	}

	50% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

.head {
	position: relative;
	height: 55px;
	width: 85px;
	border-radius: 50%;
	background: rgb(170, 119, 28);
	background: linear-gradient(
		0deg,
		rgba(170, 119, 28, 1) 27%,
		rgba(191, 149, 63, 1) 77%,
		rgba(179, 135, 40, 1) 96%,
		rgba(218, 184, 135, 1) 100%
	);
}

.middle {
	width: 85px;
	height: 15px;
	border: 2px solid black;
	position: relative;
	top: 22px;
	display: flex;
	justify-content: center;
}

.eyes {
	height: 100%;
	width: 70px;
	background: rgb(38, 35, 35);
	background: linear-gradient(
		0deg,
		rgba(38, 35, 35, 1) 0%,
		rgba(71, 11, 11, 1) 50%,
		rgba(38, 35, 35, 1) 100%
	);
	border-left: 2px solid black;
	border-right: 2px solid black;
	position: relative;
}

.laser {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background: red;
	filter: blur(2px);
	position: absolute;
	top: 3px;
}

.left {
	left: 0px;
	transition: linear;
}

.right {
	right: 0px;
	transition: linear;
}

.alpha:hover {
	.left {
		animation: leftEye 1s linear infinite;
	}
	.right {
		animation: rightEye 1s linear infinite;
	}
}

@keyframes leftEye {
	0% {
		left: 0px;
	}
	50% {
		left: 30px;
	}
	100% {
		left: 0px;
	}
}

@keyframes rightEye {
	0% {
		right: 0px;
	}
	50% {
		right: 30px;
	}
	100% {
		right: 0px;
	}
}

.ball {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: linear-gradient(
		to right,
		#bf953f,
		#fcf6ba,
		#b38728,
		#fbf5b7,
		#aa771c
	);
	position: absolute;
	left: 40px;
	top: -3px;
}

.dumpsterContainer {
	height: 65px;
	width: 65px;
	position: relative;
	&:hover {
		.lid {
			animation: slideLid 1s linear;
			animation-fill-mode: forwards;
		}
	}
}

.dumpster {
	height: 65px;
	width: 65px;
	background-color: #ba9a8e;
	background-image: linear-gradient(315deg, #ba9a8e 0%, #96705b 84%),
		linear-gradient(315deg, #2d3436 0%, #d3d3d3 54%);
	background-blend-mode: multiply;
	clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
	border-radius: 10% 10% 30% 30%;
	position: relative;
}

.innerDumpster {
	position: absolute;
	height: 8px;
	width: 65px;
	border-radius: 30%;
	background: linear-gradient(315deg, #2b3031 0%, #3f3123 54%);
	z-index: 3;
}

.lid {
	position: absolute;
	height: 12px;
	width: 75px;
	left: -5px;
	top: -3px;
	background-color: #ba9a8e;
	background-image: linear-gradient(315deg, #ba9a8e 0%, #96705b 84%),
		linear-gradient(315deg, #2d3436 0%, #9c9c9c 54%);
	background-blend-mode: multiply;
	z-index: 4;
	border-radius: 40% 40% 20% 20%;
	border: 1px solid black;
}

.gem {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	position: absolute;
	background: radial-gradient(
		circle,
		rgb(145, 34, 34) 0%,
		rgba(71, 0, 0, 1) 58%
	);
	left: 32px;
	top: -5px;
}

@keyframes slideLid {
	0% {
		left: -5px;
	}
	100% {
		left: 20px;
	}
}
